# git-ls-files --others --exclude-from=.git/info/exclude
# Lines that start with '#' are comments.
# For a project mostly in C, the following would be a good set of
# exclude patterns (uncomment them if you want to use them):
# *.[oa]
# *~
*.pyc
*.sqlite
*.swp
interface/media/
interface/settings.py
interface/static-deploy
interface/.epio-app
interface/epio.ini
interface/production_settings.py
interface/requirements.txt

